<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">


				</div>
				<div class="col-xs-12 col-sm-6">
					<% if (errorMessage) { %>
					<div class="alert alert-danger" role="alert">
						<%= errorMessage %>
					</div>
					<% } %>
					<form action="/login" method="POST">
						<label for="email">Email</label>
						<input class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'alert alert-danger' : '' %>"
						 type="email" name="email" id="email" value="<%= oldInput.email %>">

						<label for="password">Password</label>
						<input class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'alert alert-danger' : '' %>"
						 type="password" name="password" id="password" value="<%= oldInput.password %>">

						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<br />
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
					<br />
					<a href="/reset">Reset password</a>
				</div>
				<div class="col-xs-12 col-sm-3">


				</div>

			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>