<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">


				</div>
				<div class="col-xs-12 col-sm-6">
					<% if (errorMessage) { %>
					<div class="alert alert-danger" role="alert">
						<%= errorMessage %>
					</div>
					<% } %>
					<form action="/new-password" method="POST">

						<label for="password">New Password</label>
						<input class="form-control" type="password" name="password" id="password">

						<input type="hidden" name="userId" value="<%= userId %>">
						<input type="hidden" name="token" value="<%= passwordToken %>">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<br />
						<button type="submit" class="btn btn-primary">Update Password</button>
					</form>
				</div>
				<div class="col-xs-12 col-sm-3">


				</div>

			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>