<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">


				</div>
				<div class="col-xs-12 col-sm-6">
					<form action="/reset" method="POST">
						<label for="email">Email</label>
						<input class="form-control" type="email" name="email" id="email">
						<% if (errorMessage) { %>
						<p class="error">
							<%= errorMessage %>
						</p>
						<% } %>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<br />
						<button type="submit" class="btn btn-primary">Reset Password</button>
					</form>

				</div>
				<div class="col-xs-12 col-sm-3">


				</div>

			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>