<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">


				</div>
				<div class="col-xs-12 col-sm-6">
					<% if (errorMessage) { %>
					<div class="alert alert-danger" role="alert">
						<%= errorMessage %>
					</div>
					<% } %>
					<form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
						<label for="title">Title</label>
						<input class="form-control <%= validationErrors.find(e => e.param === 'title') ? 'alert alert-danger' : '' %>"
						 type="text" name="title" id="title" value="<% if (editing || hasError) { %><%=product.title%><% } %>">


						<label for="image">Image</label>
						<input class="form-control-file" type="file" name="image" id="image">

						<!-- <label for="imageURL">Image URL</label>
						<input class="form-control <%= validationErrors.find(e => e.param === 'imageURL') ? 'alert alert-danger' : '' %>"
						 type="text" name="imageURL" id="imageURL" value="<% if (editing || hasError) { %><%=product.imageURL%><% } %>"> -->

						<label for="price">Price</label>
						<input class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'alert alert-danger' : '' %>"
						 type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%=product.price%><% } %>">

						<label for="desc">Description</label>
						<textarea class="form-control <%= validationErrors.find(e => e.param === 'description') ? 'alert alert-danger' : '' %>"
						 type="text" name="description" id="desc" rows="5"><% if (editing || hasError) { %>
						<%=product.description%>
						<% } %></textarea>
						<% if (editing) { %>
						<input type="hidden" value="<%= product._id %>" name="productId">
						<% } %>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<br />
						<button type="submit" class="btn btn-primary">
							<% if (editing) { %> Update Product
							<% } else { %>Add Product
							<% } %></button>
					</form>

				</div>
				<div class="col-xs-12 col-sm-3">


				</div>

			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>