<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<% if (products.length > 0) { %>
					<ul>
						<% products.forEach(p => { %>
						<li>
							<p>
								<%= p.productId.title %> (
								<%= p.quantity %> )</p>
							<form action="/cart-delete-item" method="POST">
								<input type="hidden" value="<%= p.productId._id %>" name="productID">
								<button type="submit" class="btn btn-warning">Delete</button>
							</form>
						</li>
						<% }) %>
					</ul>
					<hr />
					<form action="/create-order" method="POST">
						<button class="btn btn-primary">Order Now!</button>
					</form>

					<% } else { %>
					<h1>No products in Cart!</h1>
					<% } %>
				</div>
			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>