<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<% if (orders.length > 0) { %>
					<ul>
						<% orders.forEach(order => { %>
						<li>
							<h1>
								<%= order._id %>
							</h1>

							<ul>
								<% order.products.forEach(p => { %>
								<li>
									<%= p.product. title%> (
									<%= p.quantity %>) </li>
								<% }) %>
							</ul>

						</li>
						<% }) %>
					</ul>
					<% } else { %>
					<h1>No products in Cart!</h1>
					<% } %>
				</div>
			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>