<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/nav.ejs') %>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">


				</div>
				<div class="col-xs-12 col-sm-6">
					<form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
						<label for="title">Title</label>
						<input class="form-control" type="text" name="title" id="title" value="<% if (editing) { %><%=product.title%><% } %>">

						<label for="imageURL">Image URL</label>
						<input class="form-control" type="text" name="imageURL" id="imageURL" value="<% if (editing) { %><%=product.imageURL%><% } %>">

						<label for="price">Price</label>
						<input class="form-control" type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%=product.price%><% } %>">

						<label for="desc">Description</label>
						<textarea class="form-control" type="text" name="description" id="desc" rows="5"><% if (editing) { %>
						<%=product.description%>
						<% } %></textarea>
						<% if (editing) { %>
						<input type="hidden" value="<%= product.id %>" name="productId">
						<% } %>
						<br />
						<button type="submit" class="btn btn-primary">
							<% if (editing) { %> Update Product
							<% } else { %>Add Product
							<% } %></button>
					</form>

				</div>
				<div class="col-xs-12 col-sm-3">


				</div>

			</div>
		</div>

	</main>
	<%- include('../includes/end.ejs') %>